*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
	--color-secondary-color: #0084FD;
	--color-dark-color: #333333;
	--color-light-color: #FFFFFF;
	--color-primary-color: #9792E4;
	--color-bg-card: #B5DDFF;
	--color-contrast-color: #FCC060;
	--color-text: #424242;
}
body{
    font-family: 'PT Sans', sans-serif;
    background-color: var(--color-light-color);
    color: var(--color-text);
}
.debug{
    border: 1px solid black;
}
/* general */
.container{
    padding: 20px;
}
.text-white{
    color: var(--color-light-color);
}
.d-flex{
    
}
/* nav bar */
nav{
    background-color: var(--color-secondary-color);
}
