*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
	--color-secondary-color: #0084FD;
	--color-dark-color: #333333;
	--color-light-color: #FFFFFF;
	--color-primary-color: #9792E4;
	--color-bg-card: #B5DDFF;
	--color-contrast-color: #FCC060;
	--color-text: #424242;
}
body{
    font-family: 'PT Sans', sans-serif;
    background-color: var(--color-light-color);
    color: var(--color-text);
}
.debug{
    border: 1px solid black;
}
/* general */
.container{
    padding: 30px;
}
.text-white{
    color: var(--color-light-color);
}
.d-flex{
    display: flex;
    flex-flow: row wrap;
}
.align-center{
    align-items: center;
    align-content: center;
}
.space-between{
    justify-content: space-between;
}
img{
    display: block;
    width: 100%;
}
a{
    text-decoration: none;
}
.padding-sx-dx{
    padding-left: 20px;
    padding-right: 20px;
}
.padding-top-bottom{
    padding-top: 10px;
    padding-bottom: 10px;
}
h3{
    padding: 20px;
    font-size: 1.5rem;
}
p{
    font-size: 1.1rem;
}
.border-radius{
    border-radius: 20px;
}
.padding-bottom{
    padding-bottom: 20px;
}
/* nav bar */
nav{
    background-color: var(--color-secondary-color);
}
.nav-img{
    width: 100px;
}
nav i{
    font-size: 2rem;
}

/* intro */
.card{
    background-color: var(--color-bg-card);
}
/* button */
.button{
    width: 80%;
    border-radius: 20px;
    padding: 5px 30px;
    text-align: center;
    margin: 0 auto;
}
.bt-blue{
    background-color: var(--color-secondary-color);
    font-size: 1.3rem;
}
.card img{
    position: relative;
    top: 10px;
}
#intro h3{
    color: var(--color-secondary-color);
}

