*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
	--color-secondary-color: #0084FD;
	--color-dark-color: #333333;
	--color-light-color: #FFFFFF;
	--color-primary-color: #9792E4;
	--color-bg-card: #B5DDFF;
	--color-contrast-color: #FCC060;
	--color-text: #424242;
}
body{
    font-family: 'PT Sans', sans-serif;
    background-color: var(--color-light-color);
    color: var(--color-text);
}
.debug{
    border: 1px solid black;
}
/* general */
.container{
    padding: 50px;
}
.text-white{
    color: var(--color-light-color);
}
.d-flex{
    display: flex;
    flex-flow: row wrap;
}
.align-center{
    align-items: center;
    align-content: center;
}
.space-between{
    justify-content: space-between;
}
img{
    display: block;
    width: 100%;
}
a{
    text-decoration: none;
}
.padding-sx-dx{
    padding-left: 20px;
    padding-right: 20px;
}
.padding-top-bottom{
    padding-top: 20px;
    padding-bottom: 20px;
}
.max-padding-x{
    padding-left: 40px;
    padding-right: 40px;
}
h3{
    padding: 20px;
    font-size: 1.5rem;
}
h2{
    font-size: 2rem;
}
p{
    font-size: 1.1rem;
}
.border-radius{
    border-radius: 20px;
}
.medium-border-radius{
    border-radius: 50px;
}
.padding-bottom{
    padding-bottom: 20px;
}
.padding-top{
    padding-top: 20px;
}
.medium-padding-top{
    padding-top: 40px;
}
.max-padding-bottom{
    padding-bottom: 40px;
}
.max-padding-top{
    padding-top: 80px;
}
.col{
    padding-top: 20px;
}
.text-center{
    text-align: center;
}
.text-violet{
    color: var(--color-primary-color);
}
.opacity{
    opacity: 60%;
}
.bg-violet{
    background-color: var(--color-primary-color);
}
/* nav bar */
nav{
    background-color: var(--color-secondary-color);
}
.nav-img{
    width: 100px;
}
nav i{
    font-size: 2rem;
}

/* intro */
.card{
    background-color: var(--color-bg-card);
}
.card img{
    position: relative;
    top: 20px;
}
#intro h3{
    color: var(--color-secondary-color);
}
.logo{
    color: var(--color-secondary-color);
    font-size: 5rem;
}

/* button */
.button{
    width: 80%;
    border-radius: 20px;
    padding: 5px 30px;
    text-align: center;
    margin: 0 auto;
}
.bt-blue{
    background-color: var(--color-secondary-color);
    font-size: 1.3rem;
}
.bt-violet{
    background-color: var(--color-primary-color);
    border-radius: 80%;
    padding: 15px 20px;
}

/* planning */
#planning{
    background-color: var(--color-primary-color);
}
.card-planning{
    background-color: var(--color-light-color);
    padding: 20px;
}

/* testimonials */
#testimonials h4{
    font-weight: 100;
    font-size: 1.2rem;
}
#testimonials p{
    font-size: 1.2rem;
    line-height: 30px;
}
.card-testimonials{
    background-color: var(--color-primary-color);
    padding: 30px;
    margin-bottom: 20px;
}
.card-testimonials img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
}

/* benefits */
#benefits{
    background-color: var(--color-primary-color);
}
#benefits h2{
    font-size: 2.5rem;
}
.benefit h2{
    font-size: 2.8rem;
}
.benefit{
    background-color: var(--color-light-color);
    line-height: 25px;
    margin-bottom: 30px;
}
.benefit a{
    font-size: 1.2rem;
}
.benefit p{
    font-size: 1rem;
}



